<section
  class="container-allcategories light-theme-add"
  id="all-categories-box"
>
  <div class="container">
    <h2 style="display: none">Categories</h2>
    <button
      class="button-Allcategories isUse"
      id="allCategoriesButton"
      type="button"
    >
      All categories
    </button>
    <div id="categoriesContainer" class="categories-container">
      <div class="scroll-content">
        <select class="scroll-content-select" name="time"></select>
      </div>
    </div>
  </div>
</section>
