<section class="filters">
  <div class="container">
    <div class="filters">
      <ul class="filter-box">
        <li class="filtr-search filtr-stail-box">
          <p class="titl-filter">Search</p>
          <span>
            <lable class="input-box">
              <input
                class="input-form js-input stail-tex-form"
                type="text"
                name="searchQuery"
                autocomplete="off"
                placeholder="Enter Text"
              />
              <svg class="js-icon-serch svg-serch" width="18" height="18">
                <use
                  href="/team-project-tastytreats/sprite.84f49c8b.svg#icon-search"
                ></use>
              </svg>
              <svg
                class="js-clear-input svg-serch-clous"
                width="18"
                height="18"
              >
                <use
                  href="/team-project-tastytreats/sprite.84f49c8b.svg#icon-close"
                ></use>
              </svg>
            </lable>
          </span>
        </li>
        <li class="filter-time filtr-stail-box">
          <p class="titl-filter">Time</p>
          <select class="stail-tex-form time-select">
            <option>0 <span>min</span></option>
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
            <option>60</option>
            <option>65</option>
            <option>70</option>
            <option>75</option>
            <option>80</option>
            <option>85</option>
            <option>90</option>
            <option>95</option>
            <option>100</option>
            <option>105</option>
            <option>110</option>
            <option>115</option>
            <option>120</option>
            <option>125</option>
            <option>130</option>
            <option>135</option>
            <option>140</option>
            <option>145</option>
            <option>150</option>
            <option>155</option>
            <option>160</option>
          </select>
        </li>
        <li class="filter-area filtr-stail-box">
          <p class="titl-filter">Area</p>
          <select class="area-select stail-tex-form">
            <option>Region</option>
            <option>Ukrainian</option>
            <option>Italian</option>
            <option>Moroccan</option>
            <option>Unknown</option>
            <option>Thai</option>
            <option>Irish</option>
            <option>British</option>
            <option>Japanese</option>
            <option>French</option>
            <option>Indian</option>
            <option>American</option>
            <option>Mexican</option>
            <option>Malaysian</option>
            <option>Dutch</option>
            <option>Spanish</option>
            <option>Canadian</option>
            <option>Vietnamese</option>
            <option>Tunisian</option>
            <option>Greek</option>
            <option>Portuguese</option>
            <option>Croatian</option>
            <option>Chinese</option>
            <option>Egyptian</option>
            <option>Jamaican</option>
            <option>Polish</option>
            <option>Kenyan</option>
            <option>Turkish</option>
          </select>
        </li>
        <li class="filtr-ingr filtr-stail-box">
          <p class="titl-filter">Ingredients</p>
          <select class="ingredients-select stail-tex-form">
            <option>Product</option>
            <option>Product1</option>
            <option>Product2</option>
            <option>Challots</option>
            <option>Basil Leaves</option>
            <option>Beef Fillet</option>
            <option>Black Pepper</option>
            <option>Baking Powder</option>
            <option>Salmon</option>
            <option>Balsamic Vinegar</option>
            <option>Beef</option>
            <option>Chicken</option>
            <option>Bread</option>
            <option>Brown Lentils</option>
            <option>Cayenne Pepper</option>
            <option>Cold Water</option>
            <option>Asparagus</option>
            <option>Baby Plum Tomatoes</option>
            <option>Aubergine</option>
            <option>Chestnut Mushroom</option>
            <option>Chicken Legs</option>
            <option>Chilled Butter</option>
            <option>Coco Sugar</option>
            <option>Cumin Seeds</option>
            <option>Diced Tomatoes</option>
            <option>Fennel Bulb</option>
            <option>Free-range Eggs, Beaten</option>
            <option>Chinese Broccoli</option>
            <option>Garlic Powder</option>
            <option>Ghee</option>
            <option>Ground Almonds</option>
            <option>Green Salsa</option>
            <option>Honey</option>
            <option>Lamb</option>
            <option>Red Pepper</option>
            <option>Rice Vermicelli</option>
            <option>Thai Green Curry Paste</option>
            <option>Raw King Prawns</option>
            <option>White Wine</option>
            <option>Pappardelle Pasta</option>
            <option>Goose Fat</option>
            <option>Pumpkin</option>
            <option>Tinned Tomatos</option>
            <option>Paneer</option>
            <option>Mirin</option>
            <option>Lamb Kidney</option>
            <option>Almonds</option>
            <option>Red Snapper</option>
            <option>Dark Rum</option>
            <option>Rhubarb</option>
            <option>Buns</option>
            <option>Caraway Seed</option>
            <option>Beetroot</option>
            <option>Bay Leaf</option>
            <option>Bramley Apples</option>
            <option>Celery</option>
            <option>Cherry Tomatoes</option>
            <option>Chilli Powder</option>
            <option>Cream</option>
            <option>Farfalle</option>
            <option>Macaroni</option>
            <option>Plum Tomatoes</option>
            <option>Red Chile Flakes</option>
            <option>Red Pepper Flakes</option>
            <option>Salt</option>
            <option>Soya Milk</option>
            <option>Sunflower Oil</option>
            <option>Tamarind Paste</option>
            <option>Vinaigrette Dressing</option>
            <option>Vermicelli Pasta</option>
            <option>Linguine Pasta</option>
            <option>Clams</option>
            <option>Sweetcorn</option>
            <option>Peanut Cookies</option>
            <option>Suet</option>
            <option>Smoked Haddock</option>
            <option>Egg</option>
            <option>Tarragon Leaves</option>
            <option>Canola Oil</option>
            <option>Wonton Skin</option>
            <option>Ras el hanout</option>
            <option>Basil</option>
            <option>Basmati Rice</option>
            <option>Brandy</option>
            <option>Breadcrumbs</option>
            <option>Cardamom</option>
            <option>Cheese</option>
            <option>Chopped Parsley</option>
            <option>Colby Jack Cheese</option>
            <option>Chili Powder</option>
            <option>Dill</option>
            <option>Dried Oregano</option>
            <option>Egg Yolks</option>
            <option>Extra Virgin Olive Oil</option>
            <option>Fenugreek</option>
            <option>Flax Eggs</option>
            <option>Gouda Cheese</option>
            <option>Lamb Mince</option>
            <option>Kosher Salt</option>
            <option>Fresh Basil</option>
            <option>Massaman Curry Paste</option>
            <option>Nutmeg</option>
            <option>Paprika</option>
            <option>Parmesan Cheese</option>
            <option>Peanut Butter</option>
            <option>Red Wine</option>
            <option>Shredded Mexican Cheese</option>
            <option>Sugar</option>
            <option>White Fish Fillets</option>
            <option>Passata</option>
            <option>Duck Fat</option>
            <option>Dried Apricots</option>
            <option>Kidney Beans</option>
            <option>Swede</option>
            <option>Beef Shin</option>
            <option>Oxtail</option>
            <option>Marzipan</option>
            <option>Ground Pork</option>
            <option>Pickle Juice</option>
            <option>Buckwheat</option>
            <option>Cheddar Cheese</option>
            <option>Chopped Onion</option>
            <option>Coconut Cream</option>
            <option>Cumin</option>
            <option>Double Cream</option>
            <option>Flour Tortilla</option>
            <option>Garlic Sauce</option>
            <option>Garlic Clove</option>
            <option>Green Beans</option>
            <option>Green Chilli</option>
            <option>Hard Taco Shells</option>
            <option>Horseradish</option>
            <option>Hot Beef Stock</option>
            <option>Mustard</option>
            <option>Potatoes</option>
            <option>Rolled Oats</option>
            <option>Small Potatoes</option>
            <option>Soy Sauce</option>
            <option>Squash</option>
            <option>Toor Dal</option>
            <option>Sugar Snap Peas</option>
            <option>Crusty Bread</option>
            <option>Minced Beef</option>
            <option>Tomato Sauce</option>
            <option>Raspberries</option>
            <option>Dark Brown Soft Sugar</option>
            <option>Lard</option>
            <option>Raisins</option>
            <option>Blackberries</option>
            <option>Bouquet Garni</option>
            <option>Red Wine Jelly</option>
            <option>Custard Powder</option>
            <option>Desiccated Coconut</option>
            <option>Scotch Bonnet</option>
            <option>Water Chestnut</option>
            <option>Ancho Chillies</option>
            <option>Cheese Slices</option>
            <option>Jerusalem Artichokes</option>
            <option>Cinnamon</option>
            <option>Condensed Milk</option>
            <option>Coriander Leaves</option>
            <option>Dry White Wine</option>
            <option>English Mustard</option>
            <option>Feta</option>
            <option>Flour</option>
            <option>French Lentils</option>
            <option>Full Fat Yogurt</option>
            <option>Heavy Cream</option>
            <option>Lean Minced Beef</option>
            <option>Lemon Juice</option>
            <option>Lemons</option>
            <option>Mackerel</option>
            <option>Oyster Sauce</option>
            <option>Parmigiano-reggiano</option>
            <option>Peanut Oil</option>
            <option>Pitted Black Olives</option>
            <option>Red Chilli Powder</option>
            <option>Thai Fish Sauce</option>
            <option>Water</option>
            <option>Yogurt</option>
            <option>Icing Sugar</option>
            <option>Duck Legs</option>
            <option>Rapeseed Oil</option>
            <option>Tortillas</option>
            <option>Lentils</option>
            <option>Haddock</option>
            <option>Braeburn Apples</option>
            <option>Red Food Colouring</option>
            <option>Apricot Jam</option>
            <option>Baked Beans</option>
            <option>Glace Cherry</option>
            <option>Oats</option>
            <option>White Chocolate</option>
            <option>Cooking wine</option>
            <option>Rum</option>
            <option>Orange Blossom Water</option>
            <option>Yukon Gold Potatoes</option>
            <option>Charlotte Potatoes</option>
            <option>Cilantro</option>
            <option>Curry Powder</option>
            <option>Granulated Sugar</option>
            <option>Grape Tomatoes</option>
            <option>Greek Yogurt</option>
            <option>Gruyère</option>
            <option>Italian Seasoning</option>
            <option>Lasagne Sheets</option>
            <option>Monterey Jack Cheese</option>
            <option>Vegetable Stock Cube</option>
            <option>Vegan Butter</option>
            <option>White Chocolate Chips</option>
            <option>Zucchini</option>
            <option>Caramel Sauce</option>
            <option>Corn Flour</option>
            <option>Fish Stock</option>
            <option>Pecan Nuts</option>
            <option>Milk Chocolate</option>
            <option>Yellow Pepper</option>
            <option>Chestnuts</option>
            <option>Shiitake Mushrooms</option>
            <option>Dried Fruit</option>
            <option>Single Cream</option>
            <option>Dijon Mustard</option>
            <option>Sichuan Pepper</option>
            <option>Mars Bar</option>
            <option>Rice Krispies</option>
            <option>Bread Rolls</option>
            <option>Mayonnaise</option>
            <option>Quinoa</option>
            <option>Polish Sausage</option>
            <option>Chicken Stock</option>
            <option>Chicken Thighs</option>
            <option>Coriander</option>
            <option>Egg Plants</option>
            <option>Enchilada Sauce</option>
            <option>Ginger</option>
            <option>Ground Ginger</option>
            <option>Meringue Nests</option>
            <option>Minced Garlic</option>
            <option>Whole Wheat</option>
            <option>Duck</option>
            <option>Paccheri Pasta</option>
            <option>Couscous</option>
            <option>Mascarpone</option>
            <option>Gelatine Leafs</option>
            <option>Truffle Oil</option>
            <option>Roasted Vegetables</option>
            <option>Vine Tomatoes</option>
            <option>Beef Kidney</option>
            <option>Currants</option>
            <option>Custard</option>
            <option>Redcurrants</option>
            <option>Cod</option>
            <option>Jerk</option>
            <option>Rice Vinegar</option>
            <option>Muffins</option>
            <option>Noodles</option>
            <option>Almond Extract</option>
            <option>Sweet Potatoes</option>
            <option>Bun</option>
            <option>Powdered Sugar</option>
            <option>Bowtie Pasta</option>
            <option>Butter</option>
            <option>Cannellini Beans</option>
            <option>Beef Stock</option>
            <option>Cashews</option>
            <option>Chicken Breasts</option>
            <option>Chorizo</option>
            <option>Cinnamon Stick</option>
            <option>Coriander Seeds</option>
            <option>Doner Meat</option>
            <option>Egg White</option>
            <option>Fajita Seasoning</option>
            <option>Free-range Egg, Beaten</option>
            <option>Fresh Thyme</option>
            <option>Creme Fraiche</option>
            <option>Pepper</option>
            <option>Pine Nuts</option>
            <option>Plain Flour</option>
            <option>Shredded Monterey Jack Cheese</option>
            <option>Sultanas</option>
            <option>White Vinegar</option>
            <option>Pretzels</option>
            <option>Monkfish</option>
            <option>Onion</option>
            <option>Stilton Cheese</option>
            <option>Lamb Leg</option>
            <option>Fennel</option>
            <option>Red Wine Vinegar</option>
            <option>Mozzarella</option>
            <option>Vine Leaves</option>
            <option>Peanut Brittle</option>
            <option>Green Pepper</option>
            <option>Sesame Seed Oil</option>
            <option>Stout</option>
            <option>Ham</option>
            <option>Hazlenuts</option>
            <option>Maple Syrup</option>
            <option>Black Pudding</option>
            <option>Goats Cheese</option>
            <option>Fermented Black Beans</option>
            <option>Starch</option>
            <option>Wood Ear Mushrooms</option>
            <option>Almond Milk</option>
            <option>Sherry</option>
            <option>Pork Chops</option>
            <option>Caster Sugar</option>
            <option>Chicken Breast</option>
            <option>Cocoa</option>
            <option>Dark Brown Sugar</option>
            <option>Fennel Seeds</option>
            <option>Garam Masala</option>
            <option>Golden Syrup</option>
            <option>Hotsauce</option>
            <option>Lettuce</option>
            <option>Saffron</option>
            <option>Smoked Paprika</option>
            <option>Strawberries</option>
            <option>Tomato Puree</option>
            <option>Vegetable Oil</option>
            <option>Vanilla</option>
            <option>Vegetable Stock</option>
            <option>Caramel</option>
            <option>Fettuccine</option>
            <option>Black Olives</option>
            <option>Butternut Squash</option>
            <option>Capers</option>
            <option>Udon Noodles</option>
            <option>Blue Food Colouring</option>
            <option>Scallions</option>
            <option>Duck Sauce</option>
            <option>Smoked Salmon</option>
            <option>Goat Meat</option>
            <option>Tripe</option>
            <option>Candied Peel</option>
            <option>Persian Cucumber</option>
            <option>Yellow Onion</option>
            <option>Gherkin Relish</option>
            <option>Sriracha</option>
            <option>Black Treacle</option>
            <option>Borlotti Beans</option>
            <option>Chopped Tomatoes</option>
            <option>Coconut Milk</option>
            <option>Corn Tortillas</option>
            <option>Garlic</option>
            <option>King Prawns</option>
            <option>Leek</option>
            <option>Little Gem Lettuce</option>
            <option>Madras Paste</option>
            <option>Marjoram</option>
            <option>Mustard Powder</option>
            <option>Peanuts</option>
            <option>Pecorino</option>
            <option>Rice</option>
            <option>Refried Beans</option>
            <option>Rocket</option>
            <option>Semi-skimmed Milk</option>
            <option>Vanilla Extract</option>
            <option>Veal</option>
            <option>Vinegar</option>
            <option>Peaches</option>
            <option>Naan Bread</option>
            <option>Cabbage</option>
            <option>Mixed Peel</option>
            <option>Pears</option>
            <option>Frozen Peas</option>
            <option>Minced Pork</option>
            <option>Creamed Corn</option>
            <option>Sun-Dried Tomatoes</option>
            <option>Broad Beans</option>
            <option>Tofu</option>
            <option>Warm Water</option>
            <option>Sardines</option>
            <option>Ciabatta</option>
            <option>Apple Cider Vinegar</option>
            <option>Bacon</option>
            <option>Bay Leaves</option>
            <option>Beef Brisket</option>
            <option>Pork</option>
            <option>Broccoli</option>
            <option>Brown Sugar</option>
            <option>Eggs</option>
            <option>Flaked Almonds</option>
            <option>Fries</option>
            <option>Green Red Lentils</option>
            <option>Ice Cream</option>
            <option>Khus Khus</option>
            <option>Milk</option>
            <option>Olive Oil</option>
            <option>Orange Zest</option>
            <option>Oregano</option>
            <option>Parsley</option>
            <option>Penne Rigate</option>
            <option>Puff Pastry</option>
            <option>Red Onions</option>
            <option>Sage</option>
            <option>Sake</option>
            <option>Sausages</option>
            <option>Salted Butter</option>
            <option>Salsa</option>
            <option>Sour Cream</option>
            <option>Stir-fry Vegetables</option>
            <option>Wholegrain Bread</option>
            <option>Clotted Cream</option>
            <option>Lamb Shoulder</option>
            <option>Ricotta</option>
            <option>Walnuts</option>
            <option>Light Brown Soft Sugar</option>
            <option>Shortcrust Pastry</option>
            <option>Dark Chocolate Chips</option>
            <option>Brussels Sprouts</option>
            <option>Treacle</option>
            <option>Apples</option>
            <option>Prosciutto</option>
            <option>Rice wine</option>
            <option>Black Beans</option>
            <option>Anchovy Fillet</option>
            <option>Dill Pickles</option>
            <option>Boiling Water</option>
            <option>Sauerkraut</option>
            <option>Avocado</option>
            <option>Cacao</option>
            <option>Cajun</option>
            <option>Canned Tomatoes</option>
            <option>Bicarbonate Of Soda</option>
            <option>Cloves</option>
            <option>Demerara Sugar</option>
            <option>Ginger Paste</option>
            <option>Muscovado Sugar</option>
            <option>Onions</option>
            <option>Orange</option>
            <option>Lamb Loin Chops</option>
            <option>Spring Onions</option>
            <option>Thyme</option>
            <option>Cream Cheese</option>
            <option>Fideo</option>
            <option>Blueberries</option>
            <option>Tiger Prawns</option>
            <option>Tabasco Sauce</option>
            <option>Ground Beef</option>
            <option>Malt Vinegar</option>
            <option>Light Rum</option>
            <option>Bean Sprouts</option>
            <option>Potatoe Buns</option>
            <option>Shortening</option>
            <option>Herring</option>
            <option>Jam</option>
            <option>Celery Salt</option>
            <option>Chickpeas</option>
            <option>Carrots</option>
            <option>Chilli</option>
            <option>Digestive Biscuits</option>
            <option>Jasmine Rice</option>
            <option>Italian Fennel Sausages</option>
            <option>Oil</option>
            <option>Parma Ham</option>
            <option>Prawns</option>
            <option>Rigatoni</option>
            <option>Rice Stick Noodles</option>
            <option>Sesame Seed</option>
            <option>Tomatoes</option>
            <option>Tagliatelle</option>
            <option>Squid</option>
            <option>Chicken Stock Cube</option>
            <option>Apricot</option>
            <option>Banana</option>
            <option>Courgettes</option>
            <option>Fruit Mix</option>
            <option>Chives</option>
            <option>Filo Pastry</option>
            <option>Mincemeat</option>
            <option>Bulgur Wheat</option>
            <option>Mulukhiyah</option>
            <option>Brown Rice</option>
            <option>Celeriac</option>
            <option>Cheese Curds</option>
            <option>Chocolate Chips</option>
            <option>Dark Soft Brown Sugar</option>
            <option>Freshly Chopped Parsley</option>
            <option>Ginger Garlic Paste</option>
            <option>Ground Cumin</option>
            <option>Lemon</option>
            <option>Lime</option>
            <option>Parmesan</option>
            <option>Peas</option>
            <option>Plain Chocolate</option>
            <option>Red Chilli</option>
            <option>Shallots</option>
            <option>Smoky Paprika</option>
            <option>Tomato Ketchup</option>
            <option>Turmeric Powder</option>
            <option>Turmeric</option>
            <option>Baby Squid</option>
            <option>Pilchards</option>
            <option>Rosemary</option>
            <option>Baguette</option>
            <option>Pink Food Colouring</option>
            <option>Yeast</option>
            <option>Unsalted Butter</option>
            <option>Star Anise</option>
            <option>Paella Rice</option>
            <option>Grand Marnier</option>
            <option>Iceberg Lettuce</option>
            <option>Cucumber</option>
            <option>Fish Sauce</option>
            <option>Ginger Cordial</option>
            <option>Lemon Zest</option>
            <option>Kale</option>
            <option>Medjool Dates</option>
            <option>Mint</option>
            <option>Mustard Seeds</option>
            <option>Mozzarella Balls</option>
            <option>Mushrooms</option>
            <option>Potato Starch</option>
            <option>Rice Noodles</option>
            <option>Self-raising Flour</option>
            <option>Sea Salt</option>
            <option>Spaghetti</option>
            <option>Tamarind Ball</option>
            <option>Thai Red Curry Paste</option>
            <option>Toffee Popcorn</option>
            <option>Tomato</option>
            <option>Oysters</option>
            <option>Yellow Food Colouring</option>
            <option>Ackee</option>
            <option>Doubanjiang</option>
            <option>White Wine Vinegar</option>
            <option>Allspice</option>
            <option>Rose water</option>
            <option>Chicken Stock Concentrate</option>
            <option>Gochujang</option>
            <option>Sesame Seed Burger Buns</option>
            <option>Figs</option>
            <option>Sushi Rice</option>
            <option>Cider</option>
            <option>Beef Gravy</option>
            <option>Biryani Masala</option>
            <option>Cashew Nuts</option>
            <option>Christmas Pudding</option>
            <option>Cornstarch</option>
            <option>Cubed Feta Cheese</option>
            <option>Dark Soy Sauce</option>
            <option>Egg Rolls</option>
            <option>Floury Potatoes</option>
            <option>Green Olives</option>
            <option>Harissa Spice</option>
            <option>Jalapeno</option>
            <option>Miniature Marshmallows</option>
            <option>Onion Salt</option>
            <option>Raspberry Jam</option>
            <option>Spinach</option>
            <option>Tuna</option>
            <option>Turnips</option>
            <option>White Fish</option>
            <option>Whole Milk</option>
            <option>Worcestershire Sauce</option>
            <option>Mussels</option>
            <option>Fromage Frais</option>
            <option>Turkey Mince</option>
            <option>Barbeque Sauce</option>
            <option>Haricot Beans</option>
            <option>Pinto Beans</option>
            <option>Butter Beans</option>
            <option>Dark Chocolate</option>
            <option>Wild Mushrooms</option>
            <option>Mixed Grain</option>
            <option>Tahini</option>
            <option>White Flour</option>
            <option>Cherry</option>
            <option>Oatmeal</option>
            <option>Brie</option>
            <option>Salt Cod</option>
            <option>Baby Aubergine</option>
            <option>English Muffins</option>
            <option>Mixed Spice</option>
            <option>Beef Stock Concentrate</option>
            <option>Pita Bread</option>
            <option>Kielbasa</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</section>
