<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-desktop">
      <div class="hero-wrapper">
        <h1 class="hero-title">
          Learn to Cook <span> Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="hero-description">
          TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="btn btn-hero">Order now</button>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper" id="masterClassList">
          <!-- Тут будуть ваші слайди з класом swiper-slide -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>