<section class="hero-favorite">
  <div class="container">
    <picture class="hero-favorite-picture">
      <source media="(min-width:375px)" srcset="../images/card-plate-mobile-1x.jpeg 1x, ../images/card-plate-mobile-1x.jpeg 2x">
      <source media="(min-width:768px)" srcset="../images/card-plate-tablet-1x.jpeg 1x, ../images/card-plate-tablet-1x.jpeg 2x">
      <source media="(min-width:1200px)" srcset="../images/card-plate-desktop-1x.jpeg 1x, ../images/card-plate-desktop-1x.jpeg 2x">
      <img class="hero-favorite-img" src="../images/card-plate-mobile-1x.jpeg" alt="favorite dish">
    </picture>
  </div>
  <div class="hero-favorite-content">
    <svg class="hero-favorite-icon" width="" height="">
      <use href=""></use>
    </svg>
    <p class="hero-favorite-text">It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that you like to your favorites for easier access in the future.</p>
  </div>
</section>

