<section class="hero-favorite">
  <div class="container">
    <picture>
      <source media="(min-width:375px)" srcset="../images/card-plate-mobile-1x.jpeg 1x, ../images/card-plate-mobile-1x.jpeg 2x">
      <source media="(min-width:768px)" srcset="../images/card-plate-tablet-1x.jpeg 1x, ../images/card-plate-tablet-1x.jpeg 2x">
      <source media="(min-width:1200px)" srcset="../images/card-plate-desktop-1x.jpeg 1x, ../images/card-plate-desktop-1x.jpeg 2x">
      <img src="../images/card-plate-mobile-1x.jpeg" alt="favorite dish">
    </picture>
  </div>
</section>
