<section class="hero-section">
  <div class="hero">
    <div class="hero-left container">
      <h1 class="hero-heading">
        Learn to Cook
        <span class="hero-heading-span">Tasty Treats' </span>Customizable
        Masterclass
      </h1>
      <p class="hero-description">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button id="hero-order-btn" class="hero-order-btn" type="button">
        Order now
      </button>
    </div>


    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="swiper-img">
              <div class="swiper-master-cook-card first-cook"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-center-card first-cook-center-card"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-big-card first-cook-last-card"></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-img">
              <div class="swiper-master-cook-card second-cook"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-center-card second-cook-center-card"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-big-card second-cook-last-card"></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-img">
              <div class="swiper-master-cook-card third-cook"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-center-card third-cook-center-card"></div>
            </div>

            <div class="swiper-img">
              <div class="swiper-cook-big-card third-cook-last-card"></div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>