<div class="backdrop-order">
  <div id="modal-order" class="modal-order">
    <button type="button" class="order-modal-close-btn">
      <svg class="order-icon-close" width="20" height="20">
        <use href="./img_header/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="wrap-recipe">
      <form action="#" class="modal-form-order" autocomplete="on">
        <strong class="contact-modal-title">Order now</strong>

        <span class="contact-field-wrapper">
          <label class="input-box">
            <span class="order-input-label">Name</span>
            <input
              type="text"
              class="input-field input-field-name input-js"
              name="name"
              placeholder="Enter your name"
              required
            />
          </label>

          <label class="input-box">
            <span class="order-input-label">Phone number</span>
            <input
              type="tel"
              class="input-field input-field-tel input-js"
              name="tel"
              required
              pattern="+[0-9]{12}"
              placeholder="+38 073 0000000"
            />
          </label>

          <label class="input-box">
            <span class="order-input-label">Email</span>
            <input
              type="email"
              class="input-field input-field-tel input-js"
              name="email"
              required
              pattern="[^@\s]+@[^@\s]+"
              placeholder="Enter your email"
            />
          </label>

          <label class="input-box">
            <span class="order-input-label">Comment</span>
            <textarea
              class="input-field input-field-textarea input-js"
              name="comment"
              rows="4"
            ></textarea>
          </label>
        </span>

        <button type="submit" class="order-btn" data-modal="2">Send</button>
      </form>
    </div>
  </div>
</div>
