<!-- <div class="backdrop-order">
  <div id="modal-order" class="modal-order">
    <button type="button" class="order-modal-close-btn">
      <svg class="order-icon-close" width="20" height="20">
        <use href="./img_header/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="wrap-recipe">
      <form action="#" class="modal-form-order" autocomplete="on">
        <strong class="contact-modal-title">Order now</strong>

        <span class="contact-field-wrapper">
          <label class="input-box">
            <input
              type="text"
              class="input-field input-field-name input-js"
              name="name"
              required
              pattern="[A-Za-z]{1,32}"
              placeholder="Your name"
            />
            <span class="order-input-label">Name</span>
            <svg class="input-warning-icon" width="14" height="14">
              <use class="error" href="./images/sprite.svg#icon-error"></use>
              <use
                class="correct"
                href="./images/sprite.svg#icon-correct"
              ></use>
            </svg>
          </label>

          <label class="input-box">
            <input
              type="tel"
              class="input-field input-field-tel input-js"
              name="tel"
              required
              pattern="[0-9]{10}"
              placeholder="Your telephone "
            />
            <span class="order-input-label">Phone number</span>
            <svg class="input-warning-icon" width="14" height="14">
              <use class="error" href="./images/sprite.svg#icon-error"></use>
              <use
                class="correct"
                href="./images/sprite.svg#icon-correct"
              ></use>
            </svg>
          </label>

          <label class="input-box">
            <input
              type="email"
              class="input-field input-field-tel input-js"
              name="email"
              required
              pattern="[^@\s]+@[^@\s]+"
              placeholder="Your email "
            />
            <span class="order-input-label">Email</span>
            <svg class="input-warning-icon" width="14" height="14">
              <use class="error" href="./images/sprite.svg#icon-error"></use>
              <use
                class="correct"
                href="./images/sprite.svg#icon-correct"
              ></use>
            </svg>
          </label>

          <label class="input-box">
            <textarea
              class="input-field input-field-textarea input-js"
              name="comment"
              rows="4"
            ></textarea>
            <span class="order-input-label">Comment</span>
            <svg class="input-warning-icon" width="14" height="14">
              <use class="error" href="./images/sprite.svg#icon-error"></use>
              <use
                class="correct"
                href="./images/sprite.svg#icon-correct"
              ></use>
            </svg>
          </label>
        </span>

        <button type="submit" class="order-btn" data-modal="2">Send</button>
      </form>
    </div>
  </div>
</div> -->
