
<button type="button" class="hero-but" data-modal-open>Order Service</button>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close_btn" data-modal-close>
            <svg class="modal-close-btn-icon" width="8" height="8">
                <use href="../public/tab-icon.svg#icon-close-black"></use>
            </svg>
        </button>
        <div>

        </div>
        <h2>bANANA pANCAKES</h2>

        <button class="form-modal-btn" type="button">Add to favorite</button>
    </div>
</div>
