<section class="popular-recipes main-recipes popular-recipes-mobile">
  <div class="container">
    <h2 class="popular-group-title">Popular recipes</h2>
    <ul class="popular-recipes-list popular-recipes-mobile">
      <!-- <li class="popular-recipes-item" data-id="">
        <div class="popular-recipes-wraper">
          <img
          class="popular-recipes-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
          alt="Burek"
          loading="slow"
          height="64px"
          width="64px"
          />
        </div>
        <div class="popular-recipes-def">
          <h3 class="popular-recipes-title">Burek</h3>
          <p class="popular-recipes-description">
            Burek is a traditional Balkan pastry made with phyllo dough and a savory filling, usually of meat, cheese, or vegetables. It's a popular street food in the region and can be enjoyed as a snack or a meal.
          </p>
        </div>
      </li>

      <li class="popular-recipes-item">
        <div class="popular-recipes-wraper">
          <img
          class="popular-recipes-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678560408/kknfjaqupiqhufj5kspx.jpg"
          alt="Irish stew"
          loading="slow"
          height="64px"
          width="64px"
          />
        </div>
        <div class="popular-containet-def">
          <h3 class="popular-recipes-title">Irish stew</h3>
          <p class="popular-recipes-description">
            A traditional Irish dish made with lamb, potatoes, carrots, onions, and herbs, cooked in a broth or gravy.
          </p>
        </div>
      </li>

      <li class="popular-recipes-item">
        <div class="popular-recipes-wraper">
          <img
          class="popular-recipes-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561436/yb6szdkd5pj1izzevumw.jpg"
          alt="Fish fofos"
          loading="slow"
          height="64"
          width="64"
          />
        </div>
        <div class="popular-recipes-def">
          <h3 class="popular-recipes-title">Fish fofos</h3>
          <p class="popular-recipes-description">
            Fish fofos are a popular Portuguese dish of fish patties made with mashed potatoes, cod or hake, and herbs, fried until golden brown and crispy on the outside, soft and moist on the inside.
          </p>
        </div>
      </li>

      <li class="popular-recipes-item">
        <div class="popular-recipes-wraper">
          <img
          class="popular-recipes-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561361/pkir13tenasy2ptjcavy.jpg"
          alt="Brie wrapped in prosciutto & brioche"
          loading="slow"
          height="64"
          width="64"
          />
        </div>
        <div class="popular-recipes-def">
          <h3 class="popular-recipes-title">Brie wrapped in prosciutto & brioche</h3>
          <p class="popular-recipes-description">
            A decadent French appetizer made with brie cheese wrapped in prosciutto and baked in a buttery brioche dough
          </p>
        </div>
      </li> -->
  </ul>
  </div>
</section>
