.category-container {
  height: 198px;
  overflow: hidden;
}

.container-allcategories {
  width: 326px;
  margin-bottom: 40px;
}

.button-category {
  color: inherit;
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  display: block;
  column-gap: 18px;
  width: 100%;
  padding: 0;  
}

.button-category:not(:first-child) {
  padding-top: 9px;
}

.button-category:not(:last-child) {
  padding-bottom: 9px;
}

button.isUse {
  color: var(--light-green);
}

.button-Allcategories:hover {
  background-color: var(--light-green);
  color: var(--modal-white);
  border-color: var(--light-green);
}

.button-Allcategories {
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  padding: 14px 28px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #05050580;
  cursor: pointer;
  margin-bottom: 48px;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

@media screen and (max-width: 767px) {
  .container-allcategories {
    margin: 0 auto 40px auto;
  }
}

@media screen and (min-width: 768px) {
  .categories-container {
    height: 416px;
  }
  .button-Allcategories {
    margin-bottom: 30px;
  }
  .container-allcategories {
    width: 176px;
    margin-top: 26px;
    margin-bottom: 64px;   
  }
}
@media screen and (min-width: 1280px) {
  .categories-container {
    height: 416px;
  }
  .container-allcategories {
    width: 235px;
  }
}

.button-Allcategories.isUse {
  color: rgba(5, 5, 5, 0.5);
}

.button-Allcategories.isUse:hover {
  color: var(--modal-white);
}

::-webkit-scrollbar {
  width: 6px;

}
/* Track */
::-webkit-scrollbar-track {
   background: rgba(5, 5, 5, 0.1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(5, 5, 5, 0.1);

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}