:root {
  --white: #f8f8f8;
  --black: #050505;
  --modal-white: #ffffff;
  --light-green: #9bb537;
  --orange: #eea10c;
  --basic-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: var(--light-green);
  color: var(--white);
  border: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1104px;
    padding: 0 12px;
  }
}
