/* -----Filter block----- */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 14px;
}

.filter-form-block {
  display: block;
}

.filter-label {
  display: block;
  margin-bottom: 8px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.filter-input-block {
  position: relative;
}

.filter-input {
  width: 252px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 13px 40px;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #050505;
}

.filter-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.filter-input:focus {
  outline: none;
}

.filter-input-svg {
  position: absolute;
  top: 50%;
  left: 18px;
  fill: rgba(5, 5, 5, 0.5);
  transform: translateY(-50%);
  transition: fill var(--basic-transition);
}

.filter-input-svg:hover,
.filter-input-svg:focus {
  fill: var(--light-green);
}

.filter-input:focus + .filter-input-svg,
.filter-input:hover + .filter-input-svg {
  fill: var(--light-green);
}

.filter-input-btn {
  display: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter-input-svg-close {
  stroke: var(--black);
}

.filter-sel {
  color: rgba(5, 5, 5, 0.5);
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  max-width: 188px;
  cursor: pointer;
}

.filter-sel option {
  color: rgba(5, 5, 5, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.filter-sel option:hover {
  color: black;
}

.filter-sel:focus {
  outline: none;
}

.filter-time,
.filter-area {
  width: 160px;
}

/* -------Reset btn----------------- */
.filter-btn-block {
  display: flex;
  justify-content: end;
  margin-bottom: 14px;
}

.filter-btn-reset {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 4px;
}

.filter-btn-reset:hover .filter-btn-svg,
.filter-btn-reset:focus .filter-btn-svg {
  transform: scale(1.3);
}

.filter-btn-svg {
  stroke: var(--light-green);
  transition: transform var(--basic-transition);
}

.filter-btn-text {
  color: rgba(5, 5, 5, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

/* -----------Image block---------- */
.filter-item {
  display: flex;
  position: relative;
  width: 335px;
  height: 335px;
  border-radius: 8px;
  background-image: linear-gradient(
    1deg,
    rgba(5, 5, 5, 0.6) 0%,
    rgba(5, 5, 5, 0) 100%
  );
}

.filter-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -30;
}

@media screen and (max-width: 767px) {
  .filter-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.filter-btn-like {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
}

.filter-svg-like {
  fill: transparent;
  opacity: 0.7;
  transition: fill var(--basic-transition);
}

.filter-svg-like:hover,
.filter-svg-like:focus {
  fill: var(--white);
  opacity: 1;
}

.filter-info-block {
  margin-top: auto;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.filter-img-title {
  color: var(--white);
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  margin-bottom: 8px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.filter-img-text {
  color: var(--white);
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 16px;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.filter-info-reiting {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filter-star-block {
  display: flex;
}

.filter-reiting {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-right: 4px;
}

.filter-star:not(:last-child) {
  margin-right: 2px;
}

.filter-btn-see {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  border: none;
  background: var(--light-green);
  padding: 8px 14px;
  margin-left: auto;
  transition: color var(--basic-transition);
}

.filter-btn-see:hover,
.filter-btn-see:focus {
  color: var(--black);
}

/* -------If found nothing----- */

.filter-answer-text {
  color: var(--black);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
}

/* ---------------------- */

@media screen and (min-width: 768px) {
  .filters {
      max-width: 496px;
    }
  .filter-form {
    gap: 16px;
    margin-bottom: 14px;
  }

  .filter-label {
    font-size: 14px;
    line-height: 1.28;
  }

  .filter-input {
    width: 198px;
  }

  .filter-input,
  .filter-sel {
    font-size: 16px;
    line-height: 1.25;
  }

  .filter-time {
    width: 125px;
  }

  .filter-area {
    width: 141px;
  }

  .filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .filter-item {
    width: 240px;
    height: 264px;
  }

  .filter-star {
    width: 16px;
    height: 16px;
  }

  .filter-answer-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .filters {
    max-width: 780px;
  }
  .filter-form {
    width: 780px;
    flex-wrap: nowrap;
  }

  .filter-list {
    gap: 32px 14px;
  }

  .filter-item {
    width: 250px;
    height: 287px;
  }
}

.star {
  opacity: 0.3;
  stroke: var(--white);
}

.mark-1 .star-1,
.mark-2 .star-1,
.mark-2 .star-2,
.mark-3 .star-1,
.mark-3 .star-2,
.mark-3 .star-3,
.mark-4 .star-1,
.mark-4 .star-2,
.mark-4 .star-3,
.mark-4 .star-4,
.mark-5 .star-1,
.mark-5 .star-2,
.mark-5 .star-3,
.mark-5 .star-4,
.mark-5 .star-5 {
  stroke-width: 0;
  fill: var(--orange);
  opacity: 1;
}

.scroll-up {
  z-index: 500;
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 0px rgba(204, 169, 44, 0.4);
  opacity: 0.9;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-up:hover {
  animation: none;
}

.scroll-up_hide {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-up-img {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-style: solid;
  border-left-style: solid;
  border-color: var(--white);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  90% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  90% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
