.hero-container {
  padding: 85px 20px 80px;
}

.hero-wrapper {
  height: 100%;
  width: 335px;
  margin-bottom: 48px;
  text-align: left;
}

.hero-title {
  color: var(--black);
  font-size: 26px;
  font-family: Inter;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-title span {
  color: var(--light-green);
  font-style: italic;
  font-weight: 400;
}
.btn-hero {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--light-green);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 12px;
}

.hero-description {
  width: 335px;
  color: var(--black);
  font-size: 14px;
  font-family: Inter;
  line-height: 18px;

  margin-bottom: 28px;
}

.swiper-container {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-left: 32px;
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .hero-wrapper {
    width: 446px;

    margin-bottom: 32px;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .hero-description {
    width: 408px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 100px;
  }

  .hero-wrapper {
    margin-bottom: 0;
  }

  .hero-desktop {
    display: inline-flex;
    gap: 32px;
  }
}
