.hero-favorite {
    padding-top: 52px;
    padding-bottom: 40px;
}
.hero-favorite-img {
    margin: 0 auto;
}

.hero-favorite-text{
    width: 335px;
    font-size: 14px;
    line-height: 1.29;
    margin: 0 auto;
    text-align: center;
}

.hero-favorite-icon {
    margin: 0 auto 24px;
}

.hero-favorite-content {
    display: flex;
    flex-direction: column;
}

.hero-favorite-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
}

.hero-fav-categ-btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    border-radius: 15px;
    border: 1px solid rgba(5,5,5,.2);
    background-color: white;
    color: #cecdcd;
    padding: 14px 18px;
    transition: var(--basic-transition);
}

@media screen and (min-width: 768px) {
    .hero-favorite {
    padding-top: 50px;
    }
    .hero-favorite-text{
    font-size: 16px;
    line-height: 1.5;
    width: 481px;
    margin: 0 auto;
    }
    .hero-favorite-icon {
    margin: 0 auto 32px;
    width: 97px;
    height: 83px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-favorite {
    padding-top: 40px;
    padding-bottom: 64px;
    }
    .hero-favorite-text{
    font-size: 16px;
    line-height: 1.5;
    width: 481px;
    margin: 0 auto;
    }
    .hero-favorite-icon {
    margin: 0 auto 32px;
    width: 97px;
    height: 83px;
    }
}