.hero {
  min-width: 0;
  padding-top: 93px;
}

.hero-left {
  max-width: 335px;
}

.hero-heading {
  width: 335px;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-heading-span {
  color: var(--light-green);
  font-style: italic;
  font-weight: 400;
}

.hero-description {
  font-size: 14px;
  line-height: 18px;
  margin-top: 14px;
  width: 335px;
}

.hero-order-btn:hover {
  color: var(--white);
  background-color: var(--light-green);
}

.hero-order-btn {
  margin-top: 28px;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid #9bb537;
  background-color: transparent;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: var(--basic-transition);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 89px;
  }

  .hero-left {
    width: 446px;
  }

  .hero-heading {
    width: 446px;
    font-size: 36px;
  }

  .hero-description {
    width: 408px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }

  .hero-order-btn {
    display: inline-flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
    border-radius: 15px;
    border: 1px solid #9bb537;
    background-color: transparent;

    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition: var(--basic-transition);
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    margin-left: auto;
    margin-right: auto;
    height: 468px;
    margin-bottom: 100px;
  }

  .hero {
    min-width: 0;
    display: flex;
    justify-content: space-between;
    gap: 148px;
    padding-right: 0;
  }

  .hero-left {
    padding-top: 71px;
  }

  .hero-heading {
    max-width: 446px;
    font-size: 36px;
  }

  .hero-description {
    width: 408px;
    /* width: 408px; */
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }
}
