:root {
  --primary-text-CH-color: #050505;
  --primary-text-CH-color-08: rgba(5, 5, 5, 0.8);
  --primary-text-CH-color-05: rgba(5, 5, 5, 0.5);
  --primary-text-CH-color-03: rgba(5, 5, 5, 0.3);
  --primary-text-CH-color-02: rgba(5, 5, 5, 0.2);
  --primary-text-CH-color-01: rgba(5, 5, 5, 0.1);

  --bgc-CH-background: #f8f8f8;
  --bgc-CH-background-mob-menu: #9bb537;
}

.backdrop-order {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease;

  opacity: 0;
  visibility: hidden;
}

.backdrop-order.active {
  visibility: visible;
  opacity: 1;
}

.modal-order {
  width: 335px;
  background-color: var(--modal-white);
  padding: 28px 20px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.modal-order.active {
  visibility: visible;
  opacity: 1;
}

.modal-form-order {
  /* max-width: 295px; */
  display: flex;
  flex-direction: column;
}

.order-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  transition: var(--basic-transition);
}

.order-icon-close {
  display: inline-block;
  stroke-width: 0;
  stroke: var(--black);
}

.order-icon-close:hover,
.order-icon-close:focus {
  fill: rgba(5, 5, 5, 0.2);
  stroke: rgba(5, 5, 5, 0.2);
}

.input-box {
  position: relative;

  /* width: 295px;
  height: 46px;
  padding: 14px 18px;
  margin: 8px 0 16px;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  &:hover,
  &:active {
    border: 1px solid var(--light-green); */
}
.contact-modal-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-bottom: 28px;
  color: var(--black);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-btn {
  width: 100%;
  padding: 15px 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
  border-radius: 15px;
  transition: var(--basic-transition);
}

.order-btn:hover,
.order-btn:focus {
  color: var(--black);
}

.order-modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(22 / 18);
  display: block;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 54px;
}
.contact-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-bottom: 40px;
  margin-top: 26px;
}
.input-field {
  border: 1px solid var(--primary-text-CH-color-02);
  color: var(--primary-text-color);
  background-color: var(--bgc-CH-background);
  transition: border-color var(--transition-set);
  border-radius: 15px;
  outline: none;
  width: 295px;
  padding: 9px 26px 9px 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  display: block;
  height: 30px;
}
.input-field-textarea {
  height: 100px;
}
.order-form-label {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: calc(18 / 14);
}
.order-form-comment {
  width: 295px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  margin: 8px 0 40px;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  resize: none;
  &:hover,
  &:active {
    border: 1px solid var(--light-green);
  }
}

.order-input-label {
  color: var(--primary-text-CH-color-05);
  transition: color var(--transition-set);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28571;
  display: block;
  position: absolute;
  top: -8px;
  transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  .order-modal-title {
    margin-bottom: 28px;
  }

  .modal-order {
    padding: 40px;
    width: 440px;
  }

  /* .modal-form-order {
    max-width: 360px;
    display: flex;
    flex-direction: column;
  } */

  /* .input-box {
    width: 360px;
    height: 48px;
    margin: 8px 0 18px;
  } */

  .order-form-comment {
    width: 360px;
    margin: 8px 0 40px;
  }

  .contact-modal-title {
    margin-bottom: 40px;
  }
  .contact-field-wrapper {
    gap: 44px;
  }

  .input-field {
    width: 360px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.21429;
    height: 48px;
  }

  .order-input-label {
    font-size: 14px;
    line-height: 1.21429;
  }

  .order-icon-close {
    width: 24px;
    height: 24px;
  }
  .order-btn {
    padding: 14px 100px;
  }
}
