.popular-recipes {
  margin-top: 40px;
}
.popular-recipes-img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  max-width: none;
}

.popular-group-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.popular-recipes-title {
  font-weight: 600;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.popular-recipes-description {
  color: rgba(5, 5, 5, 0.8);
  font-size: 12px;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  width: 252px;
  display: -webkit-box;
  overflow: hidden;
}

.popular-recipes-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-recipes-item {
  gap: 16px;
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-basis: 50%;
}

@media screen and (min-width: 768px) {
  .popular-recipe {
    padding-top: 64px;
  }
  .popular-recipes-img {
    width: 48px;
    height: 48px;
  }
  .popular-group-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
  }
  .popular-recipes-title {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .popular-recipes-description {
    font-size: 10px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 120px;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  .popular-recipes-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .popular-recipes-item {
    gap: 8px;
    cursor: pointer;
    list-style: none;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .popular-recipes-img {
    width: 64px;
    height: 64px;
  }
  .popular-group-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
  }
  .popular-recipes-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0em;
    text-align: left;
    width: 136px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  .popular-recipes-description {
    font-size: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    display: -webkit-box;
  }
  .popular-recipes-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .popular-recipes-item {
    gap: 16px;
    cursor: pointer;
    display: flex;
  }
}